<% if @articles.blank? %>
<p>There are not any artilce currently in the system.</p>
<% else %>

<p>These are the current articles in our system</p>

<ul id = "articles">
   <% @articles.each do |c| %>
   <li>
   <%= link_to c.title, {:action => 'show', :id => c.id} -%>
  
    </li>

   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new article", {:action => 'new' }%></p>
